@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TTCommons';
  src: url('/assets/fonts/tt-commons-fonts/TT-Commons-ExtraLight.otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'TTCommons';
  src: url('/assets/fonts/tt-commons-fonts/TT-Commons-Light.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TTCommons';
  src: url('/assets/fonts/tt-commons-fonts/TT-Commons-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TTCommons';
  src: url('/assets/fonts/tt-commons-fonts/TT-Commons-DemiBold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TTCommons';
  src: url('/assets/fonts/tt-commons-fonts/TT-Commons-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'TTCommons', sans-serif;
}